choice
	prompt "BOARD type"
	depends on BOARD_WATCH
	default WATCH_AW808

config WATCH_AW808
       bool "watch aw808"
       depends on BOARD_WATCH
endchoice

if WATCH_AW808
source "arch/mips/xburst/soc-m200/chip-m200/watch/aw808/Kconfig"
endif

config BOARD_NAME
	string "BOARD_NAME"
	default "aw808" if WATCH_AW808

config ROOTLIST
	bool "Export hardware information to proc/hardware/list"
    default y
	help
      Export hardware information to proc/hardware/list,
      When boot on Android then read this file and configure system

config BLUETOOTH_NAME
	string  "export bluetooth chip name"
    depends on ROOTLIST
    help
      Export bluetooth chip name information to proc/hardware/list,
      format : bluetooth:chip:bcm20710
